# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-selfcheck.json
.tox/
.eggs/
lib/
lib64/
include/
share/
bin/
Scripts/
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.log
.coverage
.cache
.pytest_cache/
htmlcov/
.hypothesis/
*.mo
*.pot
*.po
*.so
*.dll
*.exe
*.manifest
*.spec
*.zip
*.tar.gz
*.rar
*.7z
*.db
*.sqlite3
*.sqlite
*.sql
*.bak
*.swp
*.swo
*.swn
*.tmp
*.DS_Store
.idea/
.vscode/
